.hero {
  @apply w-full flex flex-row mt-24;

  &-picture {
    @apply w-1/2  z-20;
  }

  &-text {
    @apply z-20 w-1/2 flex flex-col font-dosis mt-48;

    h1 {
      @apply text-7xl tracking-wider mb-10;
    }

    p {
      @apply w-3/4 text-2xl tracking-wide;
    }
  }
}

.tagline {
  height: 500px;

  @apply relative bg-orange-100 m-auto flex flex-col justify-center items-center -top-96;

  h1 {
    @apply z-10 text-5xl tracking-wider text-center mb-10 mt-64;
  }

  p {
    @apply z-10 text-xl tracking-wider;
  }
}

.myself {
  height: 600px;
  @apply relative bg-gray-100 m-auto flex flex-row justify-center items-center -top-96;

  &-description {
    @apply w-1/2 flex flex-col justify-center items-end;

    h1 {
      @apply z-10 text-5xl tracking-wider text-center mb-10;
    }

    h2 {
      @apply z-10 text-lg tracking-wider text-center;
    }

    p {
      @apply z-10 w-1/2 text-2xl tracking-wider text-right;
    }

    button {
      position: relative;
      padding: 12px;
      margin-top: 20px;
      letter-spacing: 0.05em;
      transition: color 0.5s, transform 0.2s, background-color 0.2s;
      outline: none;
      background-color: transparent;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px solid black;
        transition: opacity 0.3s, border 0.3s;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scaleX(1.1) scaleY(1.3);
        transition: transform 0.3s, opacity 0.3s;
      }

      &:active {
        transform: translateY(3px);
      }

      &:hover {
        background-color: transparent;
        box-shadow: none;

        &:before {
          opacity: 0;
        }

        &:after {
          opacity: 1;
          transform: scaleX(1) scaleY(1);
        }
      }
    }
  }

  &-picture {
    @apply z-10 w-1/2 py-16 px-10;
  }
}

.custom-shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider-tagline {
  svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 225px;
  }
  .shape-fill {
    fill: #ffffff;
  }
}

.divider-myself {
  svg {
    position: relative;
    display: block;
    width: calc(114% + 1.3px);
    height: 198px;
    transform: rotateY(180deg);
  }
  .shape-fill {
    fill: #ffedd5;
  }
}

.catalog {
  height: 800px;
  @apply relative grid grid-cols-3 gap-5 -top-96 my-5;

  &-text {
    @apply relative flex flex-col justify-center items-center text-3xl text-gray-700 transition-all ease-in-out;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 5px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      transition: opacity 0.5s ease-in-out;
    }

    &:hover {
      z-index: 10;
      border-radius: 10px;
      transform: scale(1.1, 1.1);
      font-weight: 900;

      &:after {
        opacity: 1;
      }
    }
  }
}

.reviews {
  @apply relative bg-gray-100 -top-96 grid grid-cols-2 gap-y-20 gap-x-32;

  .testimonial-container {
    @apply p-40;

    .testimonials {
      @apply grid grid-cols-2 gap-x-32 gap-y-20;

      blockquote {
        @apply text-3xl mb-7 text-gray-700;
      }

      span {
        @apply text-2xl text-gray-500;
      }

      img {
        @apply mb-7;
        border-radius: 50%;
      }
    }

    span {
      @apply block text-2xl tracking-wider uppercase font-bold mb-7;
      color: #cf711f;
    }

    h1 {
      @apply text-8xl mb-40 text-gray-700;
    }
  }

  .gallery {
    @apply grid grid-cols-3 gap-4 p-4;

    &-item {
      @apply p-2 overflow-hidden;
    }

    &-img {
      @apply block transition-all ease-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.last {
  @apply relative -top-80 flex flex-col justify-center items-center;

  &-line {
    @apply mb-5;

    h1 {
      @apply text-7xl uppercase tracking-widest;
    }
  }

  &-gallery {
    @apply grid grid-cols-4 gap-10 p-7;
  }
}
